<!DOCTYPE html>
<html {{#if not-found }} class="-not-found"{{/if}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="consulting, thoughtworks, software development, photograpy, brazilian jiu jitsu, programming">
    <link rel="author" href="http://www.juniorales.com/humans.txt">
    <link rel="canonical" href="http://www.juniorales.com">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Open Graph meta tags -->
    <meta property="og:site_name" content="Junior Ales' Cover Page">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ background-image }}">
    <meta property="og:url" content="http://www.juniorales.com">
    <meta property="og:description" content="{{ description }}">

    <!-- Twitter Meta Info -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@junior_ales">
    <meta name="twitter:creator" content="@junior_ales">
    <meta name="twitter:url" content="http://www.juniorales.com">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ background-image }}">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="styles/libs.css">
    <link rel="stylesheet" href="styles/app.css">

    <script src="scripts/libs-header.js"></script>
  </head>
  <body>

    {{> @partial-block }}

    <script src="scripts/libs.js"></script>
    <script src="scripts/app.js"></script>
    <script>require("views/index").init();</script>
  </body>
</html>
